.hero {
  margin: 0 8rem;

   > p, p:nth-child(1) {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .intro-phrase-container {
    margin: 9rem 0;

    h1, p {
      font-size: 4.5rem;
      margin: 0;
    }

    .purple-text {
      font-weight: bold;
    }
  }
  
  .name-p {
    margin-top: 15rem;
  }
}