.hero {
  margin: 0 8rem;

  > p {
    font-size: 1.25rem;
    font-weight: 500;
  }

  div {
    margin: 9rem 0;

    h1, p {
      font-size: 4.5rem;
      margin: 0;
    }

    .purple-text {
      font-weight: bold;
    }
  }
  
  > p:nth-child(3) {
    margin-top: 15rem;
  }
}