.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  translate: -100%;
  

  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;;
    text-decoration: none;
    transition: color 0.3s linear;

    &:hover {
      color: red;
    }
  }
}

.open-menu {
  translate: 0 !important;
}