.burguer-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 1;
  
  &:focus {
    outline: none;
  }
  
  span {
    width: 2.05rem;
    height: 0.26rem;
    background: var(--white);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    border: none;
  }

  &:hover {
    span {
      background: var(--purple);}
  }
}

.cross-burguer {
  span:nth-child(1) {
    transform: rotate(45deg) translateY(2px);
  }
  
  span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  
  span:nth-child(3) {
    transform: rotate(-45deg) translateY(-3px);
  }
}