@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  --background-color: #090416;
  --purple: #6D37FF;
  --white: #F5F5F6;

  background-color: var(--background-color);
  color: var(--white);
}
